@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form class="form-group" method="post">
        <div>
            <label>Ürün Adı</label>
            <input type="text" class="form-control" name="URUNAD" required="" maxlength="30" placeholder="Ürün Adı Giriniz"/>
        </div>
        <div>
            <label>Marka</label>
            <input type="text" class="form-control" name="MARKA" required="" placeholder="Marka Giriniz"/>
        </div>
        <div>
            <label>Ürün Kategorisi</label>
            @Html.DropDownListFor(m=> m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new { @class="form-control"} )
        </div>
        <div>
            <label>Fiyat</label>
            <input type="text" class="form-control" name="FIYAT" required="" />
        </div>
        <div>
            <label>Stok</label>
            <input type="text" class="form-control" name="STOK" required=""/>
        </div>
        <div style="margin-top:15px;">
            <button class="btn btn-info">Ürün Ekle</button>
        </div>
    </form>

